<div id="explanations" class="wrapper">
  <div id="discover" class="container">
    <div class = "title">
    <h1> COMMENT ÇA MARCHE </h1>
    </div>
    <br>
    <div class="row text-center">
      <div class="home-card col-xs-12 col-sm-4">
        <i class="fa fa-map-marker home" aria-hidden="true"></i>
        <h2> Choisissez </h2>
        <p> Plus de 100 restaurants locaux vous proposent des repas différents tous les jours.</p>
      </div>
      <div class="home-card col-xs-12 col-sm-4">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <h2> Récupérez </h2>
        <p> Coupez la file d'attente. Take A Meal prend en charge le coût du repas.</p>
      </div>
      <div id="right-card" class="home-card col-xs-12 col-sm-4">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <h2> Dégustez, Recommencez </h2>
        <p> Déjeunez tous les jours dans les meilleurs restaurants.</p>
      </div>
    </div>
  </div>
</div>
