<div id="footer">
  <div class="footer-container">
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="logo">
          <a href="#"><%= image_tag("logo_TKM.png", width: 300, height: 40, crop: :fill) %></a>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="sitemap">
          <div class="footer-links">
            <a href="#">Accueil</a>
            <a href="#">A propos</a>
            <a href="#">Profil</a>
            <a href="#">Contact</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="social-links">
          <i class="fa fa-facebook foo" aria-hidden="true"></i>
          <i class="fa fa-instagram foo" aria-hidden="true"></i>
          <i class="fa fa-twitter foo" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="last-links">
          <p> Mentions légales </p> <p>&copy; TAKEAMEAL 2017 <p>
        </div>
      </div>
    </div>
  </div>
</div>
