<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-sm-6">
        <a href="#" class="logo"><%= image_tag("logo_TKM.png", width: 350, height: 50, crop: :fill) %></a>
      </div>
      <div class="col-sx-12 col-sm-6">
        <div class="sitemap">
          <div class="footer-links">
            <a href="#">Accueil</a>
            <a href="#">A propos de nous</a>
            <a href="#">Profil</a>
            <a href="#">Contact</a>
          </div>
        </div>
    </div>
  </div>
</div>
