<div class="jumbotron" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('burger.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h2>LES MEILLEURS DÉJEUNERS POUR MOINS DE 6€</h2>
  <p>Commandez vos repas à l'avance et ne faites plus la queue</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Découvrir</a></p>
</div>
