<div class="jumbotron" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('burger.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover;">
  <h2><%= title %></h2>
  <p><%= subtitle %></p>
  <p><a class="btn btn-primary btn-lg" href="<%=redirection%>" role="button">Je m'inscris maintenant</a></p>
</div>
