

<% if @user != nil %>
  <h1> N'oubliez pas d'aller chercher votre commande : </h1>

  <h1>Détails de la commande </h1>


<% else %>
  <h1> Pad de commande en cours </h1>
<% end %>

<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>

<!-- count number of orders wich timestamp is included in the current month -->

<!-- Below, historique des commandes du user, not MVP -->
