
<div class="sign-up-wrapper">
  <div id="jumbo1" class="jumbotron" style="background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path('plat.jpg') %>');  background-repeat: no-repeat; background-position: center; background-size: cover; ">
      <div class="subscribed-wrapper">
        <div class="col-xs-6 col-sm-6">
          <div class="container" style="color: #EFEFEE">
          <h2 style="color: #EFEFEE">Votre abonnement est maintenant valable !</h2>
          <h3>Vous pouvez dès à présent faire votre commande pour votre prochain déjeuner.</h3>
          <a href="/meals" class="btn btn-primary btn-lg" >Découvrir</a>
        </div>
        </div>
      </div>
</div>
</div>
