<div class="subscribed-wrapper">
  <div class="container">
    <h1>Votre abonnement est maintenant valable !</h1>
    <h3>Vous pouvez dès à présent faire votre commande pour votre prochain déjeuner.</h3>
    <a class="btn btn-primary" href="/meals">Découvrir</a>
  </div>
</div>


