<%= render "components/restaurantbanner" %>


<div class="meal-wrapper">
  <div class="meal-container">
    <div class="row">
      <div class = " col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-7 ">
        <div class = "card-meal">
          <h3><%= @meal.name %></h3>
          <img id="meal-photo" src="https://place-hold.it/450x300" >
          <p> Description du plat:</p>
          <p><%= @meal.description %></p>
        </div>
      </div>
      <% if @has_order %>
      <div class = "col-xs-12 col-sm-offset-3 col-sm-2 col-md-offset-0 col-md-5">
        <div class = "pick-card text-center">
        <h2>Vous avez déjà fait votre choix</h2>
          <div class = "pick-card-description">
            <p> Si vous souhaitez changer de plat, veuillez annuler votre commande actuelle dans la rubrique "Mon compte", puis commander de nouveau.</p>
          </div>
        </div>
      </div>
      <% else %>
      <div class = "col-xs-12 col-sm-offset-3 col-sm-2 col-md-offset-0 col-md-5">
        <div class = "pick-card text-center">
          <h2> Pick-up </h2>
          <div class = "pick-card-description">
            <p> Choisissez votre créneau : </p>
            <%= render "orders/new" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- col-xs-offset-1
-->
