<%= render "components/restaurantbanner" %>


<div class="meal-wrapper">
  <div class="meal-container">
    <div class="row">
      <div class = " col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-7 ">
        <div class = "card-meal text-center">
          <h1><%= @meal.name %></h1>
          <img id="meal-photo" src="https://place-hold.it/450x300" >
          <p> Description du plat:</p>
          <p><%= @meal.description %></p>
        </div>
      </div>
      <div class = "col-xs-12 col-sm-offset-3 col-sm-2 col-md-offset-0 col-md-5">
        <div class = "pick-card text-center">
          <h2> Pick-up </h2>
          <div class = "pick-card-description">
            <p> Choisissez votre créneau : </p>
            <%= render "orders/new" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- col-xs-offset-1
 -->
