#explanations.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-map-marker.home:before {
  font-size: 10em;
  color: #FF6A44;
}

.fa-shopping-bag:before {
  font-size: 10em;
  color: #FF6A44;
}

.fa-cutlery:before {
  font-size: 10em;
  color: #FF6A44;
}

.home-card {
  margin-bottom: 20px;
  border-right: 2px solid #EEEEEE;
  margin-top: 20px;
}

.title {
border-bottom: 4px solid #00DDBA;
width: 405px;
margin-bottom: 20px;
}

.text-card p {
  font-size: 16px;
}

#right-card {
  border-color: white !important;
}

.wrapper {
  border-bottom: 6px solid #00DDBA;
  padding-bottom: 20px;
}

@media(max-width: 767px) {
  .home-card {
    border-color: white;
  }
  .title h1 {
    font-size: 30px;
  }
  .title {
    width: 339px;
  }

}
