.home-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.title {
// border-bottom: 4px solid #00DDBA;
// width: 100%;
margin-bottom: 20px;
}

.title h1 {
  display: inline-block;
  border-bottom: 2px solid grey;
  padding-bottom:5px;
  font-weight:bold;
}

.text-card p {
  font-size: 14px;
}

.text-card {
  margin-bottom: 20px;
}

.text h2 {
  font-size : 25px;
  margin-top: 10px;
}

.wrapper {
  // border-bottom: 6px solid #00DDBA;
  padding: 20px 0 20px 0;
}

.logo-home {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #FF512C;
  margin-top: 10px;
}

.logo-home h1 {
  color: white;
  font-size: 54px;
  font-family: Gujarati MT;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}


.text {
  width: 75%;
  padding-left: 32px;
  margin-bottom: 10px;
}

@media(max-width: 767px) {
  .title h1 {
    font-size: 30px;
  }
}

@media(max-width: 991px) {
  .logo-home {
    margin-left: 20px;
  }
}

