.home-card {
  margin-bottom: 20px;
  border-right: 2px solid #EEEEEE;
  margin-top: 20px;
}

.title {
border-bottom: 4px solid #00DDBA;
width: 100%;
margin-bottom: 20px;
}

.title h1 {
  width : 100%;
}

.text-card p {
  font-size: 14px;
}

.text-card {
  margin-bottom: 20px;
}

.text h2 {
  font-size : 20px;
  margin-top: 10px;
}

.wrapper {
  border-bottom: 6px solid #00DDBA;
  padding: 20px 0 20px 0;
}

.logo-home {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #FF512C;
}

.logo-home h1 {
  color: white;
  font-size: 54px;
  font-family: Gujarati MT;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.text {
  width: 75%;
  padding-left: 32px;
  margin-bottom: 10px;
}

@media(max-width: 767px) {
  .title h1 {
    font-size: 30px;
  }
}

.image-card {
  padding-top: 15px;
}
