#footer.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 15px;


}

#footer h1 {
  margin-top: 5px;
  color: grey;
}

.logo {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}
.sitemap a {
  text-decoration: none;
}

.sitemap ul {
 list-style-type: none;
 }

#footer.col-sx-12 {
  text-align: center;
  margin-bottom: 30px;
 }

#footer {
  padding-top: 20px;
  border-top: 4px solid #FF6A44;
 }

.footer-links {
  display: flex;
  align-items: center;
  font-color: black;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  font-color: black;

}
.footer-links a:hover {
  opacity: 1;
}
