.jumbotron {
  background: linear-gradient(135deg, rgba(0,0,0,0.9), rgba(0,0,0,0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 0px;
  h2 {
    font-size: 40px;
    color: white;
  }
  p {
    font-size: 25px;
    color: white;
  }
  .btn {
    background: #FF6A44;
    border-color: #FF6A44;
    border-radius: 0;
    &:hover {
      background: #F24315;
      border-color: #F24315;
    }
  }
}
