.navbar {
  margin: 0;
  border-color: #FF6A44;
  border-radius: 0;
  .container-fluid {
    background: #FF6A44;
  }
  .navbar-right {
    margin-right: 20px;
  }
  .navbar-brand {
    color: white;
  }
  .navbar-right {
    text-decoration: none;
    color: white;
      &:hover {
        color: green;
      }
  }
}
