@import 'components/restaurantbanner.scss';

#meals-text h1 {
  border-bottom: none;
}

#meals-text p {
  font-size: 20px;
  margin-top: 30px;
}

.meal-wrapper {
  background-color: rgba(242, 243, 234, 0.2);
}

.card-meal {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  // flex: 0 0 0%;
  // width: 500px;
}

.address {
  padding-top: 50px;
  color: black;
  padding-right: 35px;
}

.address p {
  margin: 0px;

}

.map-container {
  background-color: #DFDFDF;
}

.shadow-card {
  height: 70vh;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px grey;
  background-color: white;
}

@media(max-width: 770px) {
  .shadow-card {
    height: 115vh;
    margin-left: auto;
    margin-right: auto;
  }

  .address {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 0px;
  }

  .card-meal {

  }

}


.description {
  padding-left: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
}

.card-meal p {
  font-style: italic;
}

// .card-meal p {

//   padding-left: 10px;
//   text-align: left;
// }

// .card-meal h1 {
//   text-align: left;
//   padding-left: 7px;
// }

.pick-card {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 52px;
  margin-left: 30px;
  margin-right: 70px;
  padding-right: 25px;
  padding-left: 25px;
  width: 400px;
  height: 400px;
  padding-top: 10px;
  background-color: #FF6A44;
  color: white;
  box-shadow: 2px 2px 3px #cecbca;
}

.pick-card h2 {
  margin-bottom: 25px;
  font-size: 30px;
}

.pick-card p {
  font-size: 16px;
}

.pick-card-description {
  align-items: center;
}

// .row {
//   // width: 100%;
//   margin: 0;
//   width: 90%
// }

.meal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // margin-left: 25px;
  // margin-right: 25px;
}

.meal-container h2 {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}

#meal-photo {
  margin-bottom: 10px;
}

.fa-map-marker:before {
  font-size: 15px;
  margin-right: 5px;
  margin-left: 10px;
  color: white;
}

.fa-phone:before {
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

.btn.order {
  background-color: white;
  color: #ec7259;
  border-color: #ec7259;
  font-size: 18px;
  padding: 10px 16px;
}

.btn.order:hover {
  color: white;
  background-color: #F24315;
  border-color: white;

}

.btn {
    background: #FF6A44;
    border-color: #FF6A44;
    border-radius: 0;
    margin-top: 20px;
    &:hover {
      background: #F24315;
      border-color: #F24315;
    }
  }

#already {
  padding-top: 25px;
  height: 300px;
}

@media(max-width: 500px) {
  .card-meal {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 990px) {
  .pick-card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
  padding-left: 100px;
  padding-right: 85px;
}
}

@media(max-width: 767px) {
  .description{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
  }

}

.closed-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 100px 0;
  margin-left: 10px;
  margin-right: 10px;
}


@media(min-width: 767px) {
  #map {
    // margin-right: 15px;
    // margin-left: 15px;
  }
}
