@import 'components/restaurantbanner.scss';

.meal-wrapper {
}

.card-meal {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
  align-item: center;
  // flex: 0 0 0%;
  // width: 500px;
}


// .card-meal p {

//   padding-left: 10px;
//   text-align: left;
// }

// .card-meal h1 {
//   text-align: left;
//   padding-left: 7px;
// }

.pick-card {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 67px;
  margin-left: 30px;
  margin-right: 70px;
  padding-right: 25px;
  padding-left: 25px;
  width: 350px;
  height: 306px;
  padding-top: 10px;
  background-color: #ec7259;
  color: white;
  box-shadow: 2px 2px 3px #cecbca;
}

.pick-card h2 {
  margin-bottom: 25px;
  font-size: 30px;
}

.pick-card-description {
  align-items: center;
}

// .row {
//   // width: 100%;
//   margin: 0;
//   width: 90%
// }

.meal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // margin-left: 25px;
  // margin-right: 25px;
}

#meal-photo {
  margin-bottom: 10px;
}

.fa-map-marker:before {
  font-size: 15px;
  margin-right: 5px;
  margin-left: 10px;
  color: white;
}

.fa-phone:before {
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

.btn.order {
  background-color: white;
  color: #ec7259;
  border-color: #ec7259;
}

.btn.order:hover {
  color: #FF512C;
}

@media(max-width: 500px) {
  .card-meal {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 990px) {
  .pick-card {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
