// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'users/sign_in.scss';
@import 'users/sign_up.scss';

.user-wrapper {
  padding-top: 30px;
}

.user-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wide {
  width: 100%
}

#info-pack h3 {
  padding-top: 0px;
  margin-top: 0px;
}

.card-user {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  display: flex;
  flex-direction: column;

  // flex: 0 0 0%;
  // width: 500px;
}

#special-row {
  margin: 0px;
}

.card-user-info {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;


  // flex: 0 0 0%;
  // width: 500px;
}

.pack {
  a {
    background: #FF6A44;
    border-color: #FF6A44;
    color: #fff;
    padding: 10px;
    &:hover {
      background: #F24315;
      border-color: #F24315;
    }
  }
}

.pack-text p {
  margin-bottom: 20px;
}

.img-stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.show {
  height: 300px;
  padding-top: 10px; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
  }

// .show {
//   width: 405.66px;
// }

.no-command h4 {
  font-size: 28px;
}

.no-command h5 {
  font-size: 23px;
}

.no-command {
  margin-bottom: 50px;
}

.img-meal {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media(max-width: 990px) {
  #info-pack {
    width: 300px;
  }
  .pack {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 500px) {

  .card-user h2 {
    padding-left: 20px;
  }

  #below p {
    padding-left: 50px;
  }

  .card-user {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media(max-width: 770px) {
  .img-meal {
    margin-right: auto;
    margin-left: auto;
  }

  .show {
    margin-right: -15px;
    margin-left: -15px;
  }

  #info-pack {
    padding-left: 0px;
  }
}

.user-infos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
