// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'users/sign_in.scss';
@import 'users/sign_up.scss';

.row {
  margin: 5px;
}

.user-wrapper {
  padding-top: 50px;

}

.user-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.card-user {
  margin-top: 0px;
  margin-bottom: 10px;
  // margin-left: 0px;
  // margin-right: 0px;
  text-align: left;
  display: flex;
  flex-direction: column;

  // flex: 0 0 0%;
  // width: 500px;
}

.card-user-info {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;


  // flex: 0 0 0%;
  // width: 500px;
}

.pack {
  // width: 450px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
}

.pack-text p {
  margin-bottom: 21px;
}

.pack-text {
  padding-top: 20px;
}

#info-pack {
  width: 300px;
  padding-left: 110px;
}

.card-user h2 {
  margin-bottom: 30px;
  padding-left: 15px;
}

.map {
  height: 300px;
}

.no-command h4 {
  font-size: 28px;
}

.no-command h5 {
  font-size: 23px;
}

.no-command {
  margin-bottom: 50px;
}

.img-meal {
  margin-bottom: 20px;
}

@media(max-width: 990px) {
  #info-pack {
    padding-left: 25px;
    width: 292px;
  }
   .pack {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 500px) {

.card-user h2 {
  padding-left: 20px;
}

#below p {
  padding-left: 50px;
}

  .card-user {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media(max-width: 770px) {
  .img-meal {
    margin-right: auto;
    margin-left: auto;
  }

}

